/*
++
Copyright 2004-2007 Joyent Inc.

Redistribution and/or modification of this code is 
governed by the GPLv2.

Report issues and contribute at http://dev.joyent.com/

$Id$
--
*/
	
/* App Bar ----------------------------------------------------- */

		#people .dockPeople a {	
			width: 120px;
		}

/* Toolbar (actions) ------------------------------------------- */


	.actionJajah a.disabled, .actionJajah a:hover.disabled {
		margin-top: 17px !important;
		}
	.actionJajah a {	
		width: 117px !important;
		margin-top: 16px !important;
		background-image: url(/images/lang/es/actionsPeople.png);
		}	
	.actionJajah a:hover {
		margin-top: 15px !important;
		}
	
	.actionAddToGroup a.disabled, .actionAddToGroup a:hover.disabled {
		background-position: -155px 0px !important;
		margin-top: 17px !important;
		}
	.actionAddToGroup a {	
		width: 121px !important;
		background-position: -155px -30px !important;
		margin-top: 16px !important;
		background-image: url(/images/lang/es/actionsPeople.png);
		}
	.actionAddToGroup a:hover {
		background-position: -155px -60px !important;
		margin-top: 15px !important;
		}
	.actionAddToGroup a:active, .actionAddToGroup a.active {
		background-position: -155px -90px !important;
		}
	
	.actionRemoveFromGroup a.disabled, .actionRemoveFromGroup a:hover.disabled {
		background-position: -312px 0px !important;
		margin-top: 17px !important;
		}
	.actionRemoveFromGroup a {	
		width: 131px !important;
		background-position: -312px -30px !important;
		margin-top: 16px !important;
		background-image: url(/images/lang/es/actionsPeople.png);
		}
	.actionRemoveFromGroup a:hover {
		background-position: -312px -60px !important;
		margin-top: 15px !important;
		}
	.actionRemoveFromGroup a:active, .actionRemoveFromGroup a.active {
		background-position: -312px -90px !important;
		}
